*{
	box-sizing: border-box;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (max-width: 767px){
	h1{
		margin-left: 20px;
	}
	#header-nav{
		padding-bottom: 30px;
	}
	#navbarToggle{
		margin-top: 20px;
	}
}
	@media(min-width: 992px){
.col-lg-1{
	width: 49%;
	margin-left: 10px;
	float: left;
}
input{
	size: 70px;
}

.cc>button{
	font-size: 30px;
}
.col-lg-2{
	width: 49%;
	margin-left: 10px;
	float: left;
}
}@media(max-width: 991px) and (min-width: 768px){
.col-md-1{
	width: 48.0%;
	margin-left: 10px;
	float: left;
}
input{
	size: 50px;
}
.col-md-2{
	width: 48.0%;
	float: left;
}

.cc>button{
	font-size: 25px;
}
}
@media(max-width: 767px){
.col-sm-1{
	width: 97.3%;
	margin-left: 10px;
	float: left;
}

.cc>button{
	font-size: 20px;
}
input{
	size: 10px;
}
.col-sm-2{
	margin-left: 10px;
	width: 97.3%;
	float: left;
}
}
body{
	background-color: hotpink;
}
h1{
	margin-top: 10px;
}
.headbox{
	font-size: 50px;
	color: blue;
}
.jumbotron{
	margin: 30px;
	border-width: 10px;
	height:500px;
}
.container{
	margin-top: 40px;
}
.content{
	margin-top: 40px;
}
.cc{
	text-align: center;
}
